<html>
<head></head>

<body>
  <p>Argumentos de Entrada: {{data.entryArgs}}</p>

  <p>Sistema Operativo: {{data.platformName}}</p>

  <p>Versión de Node js: {{data.nodeVersion}}</p>

  <p>Uso de memoria: {{data.memoryUse}}</p>

  <p>Path de ejecución: {{data.execPath}}</p>

  <p>Process id: {{data.processId}}</p>

  <p>Carpeta corriente: {{data.currentFolder}}</p>

  <p>Número de CPUs: {{data.numCPUs}}</p>

</body>
</html>